<div class="main-wrapper">
<h1>Edit Your Intention</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<%= form_for @intention, html: {class:"form"} do |f| %>
  Intention Name: <%= f.text_field :name %><br>
  <%= f.submit %>
<% end %>

<p>
<%= form_for @intention, method: 'delete', html: {class:"form delete"} do |f| %>
  <%= f.submit 'Delete Intention' %>
<% end %>
</p>
</div>
