<h1> Edit User </h1>

<div class="main-wrapper">
<%= form_for @user, html: {class:'form'} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.submit %>
<% end %>

<p>
<%= form_for @user, method: 'DELETE', html: {class:'form delete'} do |f| %>
  <%= f.submit 'Delete User' %>
<% end %>
</p>
</div>
