<div class="main-wrapper">
<h1> Welcome, <%= @user.name %>! </h1>

<br>
<div>
  <% if flash[:messages] %>
    <%= flash[:messages] %>
  <% end %>
</div>
<div class="user-top">
<h2>My Wellness Intentions:</h2>

<% if @user.intentions.empty? %>
  <%= "You haven't set any intentions yet!" %>
<div>
  <%= link_to 'Set an Intention', new_intention_path %>
</div>
<% else %>

    <% @user.intentions.each do |intention| %>
     <%= intention.name %>: <%= pluralize(intention.posts_count, 'Post') %><br>
      <% end %>
    <br>
  </div>


  <% @all_intentions.each do |intention_group| %>
    <% if intention_group == @incomplete_intentions %>
      <h2 class=header><%= 'Incomplete Intentions' %></h2>
    <% else %>
      <h2 class=header><%= 'Complete Intentions' %></h2>
    <% end %>

    <% intention_group.each do |intention| %>

     <div class="intention">
       <div class="header-intention">
      <h5> <%= intention.complete == true ? 'COMPLETE' : 'INCOMPLETE' %> </h5>

       <h3><%= intention.name %></h3>

     <%= form_for intention, method: 'patch', url: change_intention_status_path(intention) do |f| %>
       <% if intention.complete == false %>
        <%= f.submit 'Mark as Complete' %>
       <% else %>
        <%= f.submit 'Mark as Incomplete' %>
      <% end %>
     <% end %>
     </div>


      <%intention.posts.each do |post| %><br>
      <div class=post>
        <h3 class="post-title"><%= link_to post.title, post_path(post)%></h3>
        <div class="post-comment"><%= post.comment %><br></div>
        <%=link_to post.url, post.url %><br>

      <div class="post-button">
        <% @user_post = UserPost.find_by(user_id: session[:user_id], post_id: post.id, intention_id: intention.id) %>
        <%= form_for post, method: 'delete', url: user_post_path(@user_post) do |f| %>
          <%= f.submit 'Remove Post From Intention'%>
        <% end %>
      </div>

      </div>
      <% end %>


      <p><button><%= link_to 'Edit Intention', edit_intention_path(intention) %></button></p>
        </div>
    <% end %>

  <% end %>
<% end %>
  </div>
