<h1> Welcome, <%= @user.name %>! </h1>

<button><h3> <%= link_to "Browse Wellness Posts", posts_path %> </h3></button>
<button><h3> <%= link_to "Create a New Wellness Post", new_post_path %> </h3></button>

<h3>My Wellness Intentions:</h3>

<% @user.intentions.each do |intention| %>
 <%= intention.name %>: <%= pluralize(intention.posts_count, 'Post') %><br>
  <% end %>
<br>


  <% @user.intentions.each do |intention| %>
   <h3><%= intention.name %></h3>
   <h5> <%= intention.complete == 1 ? 'COMPLETE' : 'INCOMPLETE' %> </h5>
    <%intention.posts.each do |post| %><br>
    <%= post.comment %><br>
    <%=link_to post.url %><br>
    <% end %>
    <% end %>

<button> <%= link_to "Edit User", edit_user_path(@user) %> </button>
