<h1> <%= @user.name %> (<%= @user.email %>) </h1>

<h3>My Wellness Intentions:</h3>


<% @user.intentions.each do |intention| %>
 <%= intention.name %> : <%= pluralize(@user.post_count_by_intention(intention), 'Post') %><br>

  <% end %>

  <% @user.intentions.each do |intention| %>
   <h3><%= intention.name %></h3>
    <%intention.posts.each do |post| %><br>
    <%= post.comment %><br>
    <%=link_to post.url %><br>
    <% end %>
    <% end %>

button to edit user
