<h1> Welcome, <%= @user.name %>! </h1>

<% if flash[:messages] %>
  <%= flash[:messages] %>
<% end %>

<button><h3> <%= link_to "Browse Wellness Posts", posts_path %> </h3></button>
<button><h3> <%= link_to "Create a New Wellness Post", new_post_path %> </h3></button>
<button><h3> <%= link_to "Set a New Intention", new_intention_path %> </h3></button>

<h3>My Wellness Intentions:</h3>

<% @user.intentions.each do |intention| %>
 <%= intention.name %>: <%= pluralize(intention.posts_count, 'Post') %><br>
  <% end %>
<br>


  <% @user.intentions.each do |intention| %>
   <h3><%= intention.name %></h3>
   <h5> <%= intention.complete == true ? 'COMPLETE' : 'INCOMPLETE' %> </h5>

   <%= form_for intention, method: 'patch', url: change_intention_status_path(intention) do |f| %>
     <% if intention.complete == false %>
      <%= f.submit 'Mark as Complete' %>
     <% else %>
      <%= f.submit 'Mark as Incomplete' %>
    <% end %>
   <% end %>

    <%intention.posts.each do |post| %><br>
      <%= post.comment %><br>
      <%=link_to post.url %><br>
    <% end %>

    <p><button><%= link_to 'Edit Intention', edit_intention_path(intention) %></button></p>
  <% end %>

<button> <%= link_to "Edit User", edit_user_path(@user) %> </button>
