<%@categories.each do |category
 %>
 <%= category.name %>
   <% category.posts.each do |post%><%= %>
     <h3><%=post.title %></h3>
     <%=post.comment %><br>
     Url:<%= @post.url %><br>

     <%=form_for @user_post%>
     <%= f.collection_select(:user_id, User.all, :id, :name)%>

     <%= f.text_field :intention_name, list: "intentions_autocomplete"%>
     <datalist id="intention_autocomplete">
       <% Intention.all.each do |category| %>
         <option value="<%= category.name %>">
       <% end %>
     </datalist>

   <% end %>
<% end %>
