<%if session[:user_id]%>
  Logged in as <%=@user.name%>
<% end %>

<h1> Wellness Posts </h1>
<%if flash[:errors]%>
<%flash[:errors].each do |error|%>
<%=error %><br>
<% end %>
<% end %>
<%if flash[:messages]%>
  <%flash[:messages].each do |error|%>
  <%=error %><br>
  <% end %>
<% end %>

<%if !session[:user_id]%>
  Sign in to save posts:
<% end %>

<%= form_tag "/filter" do %>
<%=collection_select(:category, :id, @all_categories, :id, :name, include_blank: "All", prompt: "Please choose a category")%>
<%= submit_tag "Filter Posts by category"%>
<% end %>

<%@categories.each do |category|%>
   <h2><%= category.name %></h2>
   <% category.posts.each do |post|%>
   <br>
        <h3><%=post.title%></h3>
       <%=post.comment %>
       <%=link_to post.url, post.url %>
       <% if session[:user_id]%>
         Save to my intentions: <br>
         <%=form_for @user_post do |f|%>
           <%=f.label :intention_name, "intention:"%>
           <%=f.text_field :intention_name, list: "intentions_autocomplete"%>
           <%=f.hidden_field :post_id, value: post.id  %>
           <%=f.hidden_field :user_id, value: @user.id  %>
           <datalist id="intentions_autocomplete">
            <% @intentions.each do |category| %>
              <option value="<%= category.name %>">
            <% end %>
           </datalist>
           <%= f.submit("save to post") %>
         <% end %>
         <% if session[:user_id] && post.owner_id==@user.id %>
         You posted this.<%=button_to('edit post', edit_post_path(post.id), method: "get")%>
         <%=button_to('delete post', post_path(post),
          method: "delete", remote: true, data: { confirm: 'Are you sure?'})%>
       <% end %>
         <% else %>
        <%= link_to 'sign in','/signin' %> to save this post
        <% end %>


  <% end %>
<%end%>
