<h1>Create New Post</h1>

<%= form_for @post do |f| %>
  <%=f.label :title%>
  <%=f.text_field :title%><br>
  <%=f.label :comment%>
  <%=f.text_area :comment%><br>
  <%=f.label :address%>
  <%=f.text_field :address%><br>
  <%=f.label :url%>
  <%=f.url_field :url%><br>
  <%=f.label :owner_id%>
  <%=f.collection_select :owner_id, User.all, :id, :name, prompt: true %><br>
  <%=f.label :categories%>
  <%= f.fields_for :post_categories, @post.post_categories.build do |post_categories_fields| %>
    <%= post_categories_fields.collection_check_boxes :id, Category.all, :id, :name, prompt: true %><br>
  <% end %>

  <%=f.submit %>
<%end %>
