<div class='main-wrapper'>
  <h2><%= @post.title %></h2>

  <div>
    Author Comment: <%= @post.comment.length > 0 ? @post.comment : 'N/A' %>
  </div>
  <br>
  <div>
    <% if @post.url.length > 0 %>
      <%= link_to @post.url, @post.url %>
    <% end %>
  </div>
  <br>
  <div>
    Categories: |
      <% @post.category_name.each do |name| %>
        <%= name %> |
      <% end %>
  </div>
  <br>
  <div>
    Posted by: <%= @post.owner_name %><br>
  </div>
  <p>
    Followed by: <%= pluralize(@post.followed_count, 'User') %>
  </p>
  <hr>
  Save to My Intentions: <br>
  <%=form_for @user_post do |f|%>
    <%=f.text_field :intention_name, list: "intentions_autocomplete"%>
    <%=f.hidden_field :post_id, value: @post.id  %>
    <%=f.hidden_field :user_id, value: @user.id  %>
    <datalist id="intentions_autocomplete">
     <% @intentions.each do |intention| %>
       <option value="<%= intention.name %>">
     <% end %>
    </datalist>
    <%= f.submit("save") %>
  <% end %>
  <div class:'post-button'>
  <hr>
    <p>
      Post Owner Actions:
    </p>
    <% if session[:user_id] && @post.owner_id==@user.id %>
      <%=button_to('edit post', edit_post_path(@post.id), method: "get")%>
    <%=button_to('delete post', post_path(@post),
     method: "delete", remote: true, data: { confirm: 'Are you sure?'})%>
    <% end %>
  </div>
</div>
